.btn:focus{
    background-color: green;
    border: 2px solid black;
    /* color: white; */
}

.btnEnd{
    background-color: white;
    color: gray;
    border: 1px solid white;
    
}

.btn{
    background-color: white;
}